data/images/
data/test/
clean_labels.csv
noisy_labels.csv
data/train_data.zip
data/resnet/checkpoint
.gitignore
data/resnet/resnet18.index
.gitignore
data/resnet/resnet18.data-00000-of-00001
*.pyc
.vscode/settings.json
